.collection-page {
  display: flex;
  flex-direction: column;


  .title {
    font-size: 38px;
    margin: 0 auto 30px;
    color: #07AA1B;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 57px;

    & .collection-item {
      width: 100%;
      margin-bottom: 30px;
    }
  }
}