.sign-in {
	width: 450px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;

		h2 {
			color: #07AA1B;
		}
		span {
			color: #17571F;
		}
	}
	.buttons {
		display: flex;
		justify-content: space-between;
	}
}