.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #07AA1B;
  background-color: white;
  top: 90px;
  right: 40px;
  z-index: 5;

  .empty-message {
    /*font-weight: 900;*/
    font-size : 18px;
    margin: 100px auto;
    /*color: #07AA1B;*/
    color: #17571F;
  }

  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button {
    margin-top: auto;
  }
}