.checkout-page {
  width: 75%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;

  .checkout-header {
    width: 100%;
    padding: 10px 1px 10px 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid darkgrey;
    color: #17571F;

    .header-block {
      text-transform: capitalize;
      width: 23%;

      &:first-child {
        padding-left: 15px;
      }

      &:last-child {
        width: 8%;
        padding-right: 105px;
      }
    }
  }

  .total {
    color: #17571F;
    margin-top: 30px;
    margin-left: auto;
    font-size: 36px;
  }
  button {
    margin-left: auto;
    margin-top: 50px;
  }
  .test-warning {
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    color: red;
    line-height: 40px;
    
    span {
      font-weight: 900;
    }
  }
}
